* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@keyframes example {
    from {background-color: #f5d316;}
    to {opacity: 1;}
}



.container-fluid { 
    padding: 0px;
}

.row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;

}

.col-md-12 {
    margin-top: 8em;
}

body {
    background: #111111;
    animation-name: example;
    animation-duration: 2s;
}

.header {
    height: 550px;
    background: #f5d316;
}

.header-img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.header-light {
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header-light {
    animation: blink 3s;
    animation-iteration-count: infinite;
}

a span.image-content {
    border-radius: 100%;
    display: block;
    width: 100px;
    height: 100px;
    background: #f5d316;
}

.arrow {
width: 100px;
margin: 0 auto;
margin-top: 4em;
}

img.om {
    max-width: 100%;
    max-height: 100%;
}


footer {
 
    text-align: center;
    font-size: 20px;
    padding-top: 7em;
    padding-bottom: 3em;
    
}

.image-bg-fixed-height {

    background: url('keyboard.jpg') no-repeat;
    height: 50em;
    background-size: 100% auto;

}

footer p {
 color: white;
}

ul {
 
   margin: 0 auto;
    text-align: left;
    width: 10em;
    font-size: 16px;
}

.services {
    padding-top: 4em;
    padding-bottom: 5em;
    margin-top: 5em;
    font-size: 25px;
    background-color: white;
    width: 100%;
    border-top: 15px solid #f5d316;
    border-bottom: 15px solid #f5d316;

}

.omoss {
    
    padding-top: 4em;
    padding-bottom: 7em;
    font-size: 25px;
    background-color: white;
    width: 100%;
    border-top: 15px solid #f5d316;
    border-bottom: 15px solid #f5d316;
    
}


.littlelogo {
 width: 140px;
 text-align: center;
}


<<<<<<< HEAD
=======
.readMore {
		text-transform: uppercase;
		font-size: 0.6em;
		border: 1px solid black;
		display: inline-block;
		color: black;
		padding: 12px 31px;
		transition: all 0.1s linear;
		margin: 0;
		text-decoration: none;
		margin-top: 2.5em;
}
	
.readMore:hover {
		background: black;
		color: white;
		transition: all 0.1s linear;
		text-decoration: none;
		}

>>>>>>> origin/master
