* {
    margin: 0;
    padding: 0;
}

body {
    background: #111111;
}

.header {
    height: 550px;
    background: #f5d316;
}

.header-img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.col-lg-2 {
    background: red;
    height: 200px;
}

div .menu {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #f5d316;
}

a span {
    border-radius: 100%;
    display: block;
    width: 100px;
    height: 100px;
    background: black;
}



footer {
 
    text-align: center;
    font-size: 20px;
    padding-top: 2em;

    
}

footer p {
 color: white;
}

ul {
 
   margin: 0 auto;
    text-align: left;
    width: 10em;
    font-size: 16px;
    
}
